<%= form_for(@anime_master,:url => admin_anime_masters_path) do |f| %>
  <% if @anime_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anime_master.errors.count, "error") %> prohibited this anime_master from being saved:</h2>

      <ul>
      <% @anime_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.date_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :discription %><br>
    <%= f.text_area :discription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
