<p id="notice"><%= notice %></p>

<h1>Listing Anime Masters</h1>
<%= link_to '新規作成', new_admin_anime_master_path %>
<div><%= page_entries_info @anime_masters %></div>
<div><%= paginate @anime_masters %> </div>
<div>
  <% @anime_masters.each do |anime| %>
    <div class="col-md-3 col-sm-4 col-xs-4 "style="min-width:150px">
      <div class=""><%=anime.id%></div>
      <div class=""><%= link_to 'Show', admin_anime_master_path(anime) %></div>
      <div class=""><%= link_to 'Edit', edit_admin_anime_master_path(anime) %></div>
      <div class=""><%= link_to 'Destroy', admin_anime_master_path(anime), method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <div class="new-animes"><img class="img-responsive img-center" src="<%=anime.image_path%>"/></div>
      <div class="title"><%=anime.title%></div>
    </div>
  <% end %>
</div>
<div style="clear:both"><%= paginate @anime_masters %> </div>
