<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anime_master.title %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @anime_master.start_at %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @anime_master.discription %>
</p>

<%= link_to 'Edit', edit_admin_anime_master_path(@anime_master) %> |
<%= link_to 'Back', admin_anime_masters_path %>
