<%= stylesheet_link_tag "comment", :media => "all" %>
<% if @anime_comment.errors.any? %>
  <div id="error_explanation">
      <% @anime_comment.errors.full_messages.each do |message| %>
        <div class="alert fade in alert-success "><button type="button" class="close" data-dismiss="alert">×</button><%= message %></div>
      <% end %>
  </div>
<% end %>
<%= render partial: 'shared/comment_create', locals: { new_comment: @anime_comment} %>
