<p id="notice"><%= notice %></p>

<h1>Listing Anime Comments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Is valid</th>
      <th>Anime master</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anime_comments.each do |anime_comment| %>
      <tr>
        <td><%= anime_comment.name %></td>
        <td><%= anime_comment.comment %></td>
        <td><%= anime_comment.is_valid %></td>
        <td><%= anime_comment.anime_master %></td>
        <td><%= link_to 'Show', anime_comment %></td>
        <td><%= link_to 'Edit', edit_anime_comment_path(anime_comment) %></td>
        <td><%= link_to 'Destroy', anime_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anime comment', new_anime_comment_path %>
