
<div style="padding-left:5%;padding-right:5%">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
      <label for="episode_comment_name">名前</label>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
      <%= @episode_comment.name %>
    </div>
  </div>
  <div class="row"> 
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
      <label for="episode_comment_comment">コメント</label>
    </div> 
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
      <%= simple_format(@episode_comment.comment) %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12"></div> 
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
      <%= link_to '戻る', episode_path(@episode_comment.episode_id) %>
    </div>

  </div>
</div>



