<% content_for :h1_tag do %>
  まにあにめ
<% end %>
<p>
検索ワード: <%= params[:id] %>
</p>
<p>
<%= @search.total %> 件ヒット
</p>
<ul>
  <% @search.each_hit_with_result do |hit, result| %>
    <li><div>Article #{<%= hit.primary_key %>}</div>
      <div><a href='/anime/<%=hit.primary_key%>'><%= result.title %></a></div>
      <% hit.highlights(:discription).each do |highlight| %>
        <%= highlight.format  { |word| "*#{word}*" } %>
      <% end %>
    </li>
  <% end %>
</ul> }

