<% content_for :h1_tag do %>
  <%=params[:word]%>の検索結果
<% end %>
<% content_for :title do %><%=params[:word]%>に関するアニメ<% end %>
<p>
検索ワード: <%= params[:word] %>
</p>
<p>
<%= @search.total %> 件ヒット
</p>
<div class="search_results">
  <% @search.each_hit_with_result do |hit, result| %>
    <div class="block">
      <div class="search_link" style="font-size:18px">
          <a href='/anime/<%=hit.primary_key%>'>
          <% if hit.highlights(:title).count > 0 %> 
            <% hit.highlights(:title).each do |highlight| %>
              <%= highlight.format  { |word| content_tag(:b, word) }.html_safe %>
            <% end %>
          <% else %>
            <%= result.title %>
          <% end %>
          </a>
      </div>
      <div class="search_img" style="float:left">
        <img style="max-width:80px" src="<%=get_search_img(result.image_path) %>">
      </div>
      <div class="seach_discription" style="font-size:small;">
      <% hit.highlights(:discription).each do |highlight| %>
        <%= highlight.format  { |word| content_tag(:b, word) }.html_safe %>
      <% end %>
      </div>
      <p style="clear:both;"/>
    </div>
  <% end %>
</div> 
<div style="clear:both"><%= paginate @search.results %> </div>

