<% @fav_animes.each do |anime| %>
  <li>
      <div> <%=get_wday(anime.day_of_week)%></div>
    <a class="ajax-link" href="/anime/<%=anime.id%>">
      <span> <%=anime.title%></span>
      <div class="">
        <img class="img-responsive img-center" i
             style="max-height:160px;max-width:90%"
             src="<%=get_list_img(anime.image_path)%>"/>
      </div>
    </a>
  </li>
  <div class="block">
    <button class="btn btn-danger" onclick="del_cview(<%=anime.id%>)">
      継続視聴解除
    </button>
  </div>
<% end %>
<% if !@fav_animes_end.empty? then %>
<%# if false %>
  <li class="nav-category">放送終了アニメ</li>
<% end %>
<% @fav_animes_end.each do |end_anime| %>
  <li>
    <% if !end_anime.start_at.nil? then%>
      <div> <%= end_anime.start_at.year%>年</div>
  <% end %>
  <a class="ajax-link" href="/anime/<%=end_anime.id%>">
  <span> <%=end_anime.title%></span>
      <div class="">
        <img class="img-responsive img-center" i
             style="max-height:160px;max-width:90%"
             src="<%=get_list_img(end_anime.image_path)%>"/>
      </div>
    </a>
  </li>
  <div class="block">
    <button class="btn btn-danger" onclick="del_cview(<%=end_anime.id%>)">
      継続視聴解除
    </button>
  </div>
<% end %>
