<% content_for :header do %>
  <%= stylesheet_link_tag "anime", :media => "all" %>
  <%= stylesheet_link_tag "comment", :media => "all" %>
<% end%>
<p id="notice"><%= notice %></p>
<% content_for :h1_tag do %><a href="/anime/<%=@episode.anime_master.id%>"><%= @episode.anime_master.title %></a><br><%= @episode.chapter %>話 <% if @episode.title? %>「<%= @episode.title %>」<%end%> <% end %>
<% content_for :title do %><%= @episode.anime_master.title %> <%= @episode.chapter %>話<% end %>
<% if !@episode.movies.nil? %>
  <% @episode.movies.each do |movie| %>
    <div>
      <a href="<%= movie.url %>" target="_blank" rel="noindex,nofollow,noarchive">
        <p><%= movie.name %></p>
      </a>
    </div>
  <% end %>
<% end %>
<hr>
<%= render partial: 'shared/comment', locals: { comments:@episode_comments, anime_title:@episode.anime_master.title} %>
<hr>
<%= render partial: 'shared/comment_create', locals: { new_comment: @new_comment} %>

