<%= form_for([:admin,@initial]) do |f| %>
  <% if @initial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initial.errors.count, "error") %> prohibited this initial from being saved:</h2>

      <ul>
      <% @initial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :initial_group_id %><br>
    <%= f.number_field :initial_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
