<p id="notice"><%= notice %></p>

<h1>Listing Initials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>GroupId</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @initials.each do |initial| %>
      <tr>
        <td><%= initial.name %></td>
        <td><%= initial.initial_group_id %></td>
        <td><%= link_to 'Show', admin_initial_path(initial) %></td>
        <td><%= link_to 'Edit', edit_admin_initial_path(initial) %></td>
        <td><%= link_to 'Destroy', admin_initial_path(initial), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Initial', new_admin_initial_path %>
