<div class="col-sm-3 col-md-3 col-lg-2 ">                                                                                                                                                                          
  <div class="sidebar-nav">
    <div class="nav-canvas">
      <div class="nav-sm nav nav-stacked">

      </div>
      <ul class="nav nav-pills nav-stacked main-menu left_anime_style">
        <li class="nav-category">放送中のアニメ一覧</li>
        <%dow=-1%>
        <% this_week_animes.each do |anime|  %>
          <% if anime.day_of_week!=nil && dow != anime.day_of_week then %>
            <li class="nav-header"><%=day_of_week[anime.day_of_week]%></li>
            <% dow = anime.day_of_week %>
          <% end %>
          <li>
            <a class="ajax-link" href="/anime/<%=anime.id%>">
              <span> <%=anime.title%></span>
              <!-- <div class=""> -->
              <!--   <img class="img&#45;responsive img&#45;center" i -->
              <!--        style="max&#45;height:160px;max&#45;width:90%" -->
              <!--        src="<%=get_list_img(anime.image_path)%>"/> -->
              <!-- </div> -->
            </a>
          </li>
        <% end %>
      </ul>
      <ul class="nav nav-pills nav-stacked main-menu left_anime_style">
        <li class="nav-category">放送終了アニメ一覧</li>
        <% end_animes.each do |anime|  %>
          <li>
            <a class="ajax-link" href="/anime/<%=anime.id%>">
              <span> <%=anime.title%></span>
              <!-- <div class=""> -->
              <!--   <img class="img&#45;responsive img&#45;center" style="max&#45;height:160px;max&#45;width:90%" -->
              <!--   src="<%=get_list_img(anime.image_path)%>"/></div> -->
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
        <!--/span-->

