<div class="comment-header">コメント投稿</div>
<div class="comment-form block">
  <%= form_for(new_comment) do |f| %>
    <div class="row block">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <label for="anime_comment_name">名前</label>
      </div>
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row block"> 
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
        <label for="anime_comment_comment">コメント</label>
      </div> 
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <%= f.text_area :comment,:required => true %>
      </div>
    </div>
    <% if defined?(new_comment.episode_id) %>
      <%= f.hidden_field :episode_id %>
    <% elsif defined?(new_comment.anime_master_id) %>
      <%= f.hidden_field :anime_master_id %>
    <% end %>
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12"></div> 
      <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <%= f.submit "投稿する" %>
      </div>

    </div>
  <% end %>
</div>
