<div class="comment-list">
  <div class="comment-header"><%= anime_title %><% if defined?(episode) %> <%=episode%>話<%end%>  コメント</div>
  <div class="comment block">
    <% comments.each do |comment| %>
      <div class="block">
        <div>
          <% if comment.is_valid == 1 %>
            <%= comment.comment %>
          <% else %>
            このコメントは管理者の承認待ちです
          <% end %>
        </div>
        <div class="comment-date">
          <%= comment.name %> | <%= comment.updated_at.strftime('%Y/%m/%d %H:%M') %> | 
        </div>
      </div>
    <% end %>
  </div>
</div>
