<h1>まにあにめ</h1>
<p>Find me in app/views/home/index.html.erb</p>

<div class="container-fluid">
  <div class="row-fluid">
<% @anime.each do |a| %>
    <div class="col-md-3 col-sm-4 col-xs-4 "style="min-width:150px">
    <div class="new-animes"><img class="img-responsive img-center" src="<%=a.image_path%>"/></div>
    <div class="title"><%=a.title%></div>
    </div>
<% end %>
  </div>
</div>


