<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<%= link_to '新規作成', new_admin_movie_path %>
<div><%= page_entries_info @movies %></div>
<div><%= paginate @movies %> </div>
<% @movies.each do |movie| %>
  <div class="col-md-12">
    <% if !movie.episode.nil? && !movie.episode.anime_master.nil? %>
      <div class="col-md-12">アニメタイトル：<%= movie.episode.anime_master.title %></div>
    <% end %>
    <% unless movie.episode.nil? %>
      <div class="col-md-2">第<%= movie.episode.chapter %>話</div>
      <div class="col-md-10">タイトル：<%= movie.episode.title %></div>
    <% end %>

    <div class="col-md-2"><%= movie.name %></div>
    <div class="col-md-10"><%= movie.url %></div>
    <div class="col-md-2"><%= link_to 'Show', admin_movies_path %></div>
    <div class="col-md-2"><%= link_to 'Edit', edit_admin_movie_path(movie) %></div>
    <div class="col-md-2"><%= link_to 'Destroy', admin_movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>

<%= link_to 'New Movie', new_admin_movie_path %>
