<%= form_for(@temp_anime,:url => admin_temp_animes_path) do |f| %>
  <% if @temp_anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temp_anime.errors.count, "error") %> prohibited this temp_anime from being saved:</h2>

      <ul>
      <% @temp_anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.date_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :discription %><br>
    <%= f.text_area :discription %>
  </div>
  <div class="field">
    <%= f.label :initial_id %><br>
    <%= f.number_field :initial_id %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.number_field :state %>
  </div>
  <div class="field">
    <%= f.label :day_of_week %><br>
    <%= f.number_field :day_of_week %>
  </div>
  <div class="field">
    <%= f.label :image_path %><br>
    <%= f.text_area :image_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
