<p id="notice"><%= notice %></p>

<h1>Listing Temp Animes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start at</th>
      <th>Discription</th>
      <th>Initial</th>
      <th>State</th>
      <th>Day of week</th>
      <th>Image path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @temp_animes.each do |temp_anime| %>
      <tr>
        <td><%= temp_anime.title %></td>
        <td><%= temp_anime.start_at %></td>
        <td><%= temp_anime.discription %></td>
        <td><%= temp_anime.initial_id %></td>
        <td><%= temp_anime.state %></td>
        <td><%= temp_anime.day_of_week %></td>
        <td><%= temp_anime.image_path %></td>
        <td><%= link_to 'Show', admin_temp_anime_path(temp_anime.id) %></td>
        <td><%= link_to 'Edit', edit_admin_temp_anime_path(temp_anime.id) %></td>
        <td><%= link_to 'Destroy', admin_temp_anime_path(temp_anime.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp anime', new_admin_temp_anime_path %>
