<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @temp_anime.title %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @temp_anime.start_at %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @temp_anime.discription %>
</p>

<p>
  <strong>Initial:</strong>
  <%= @temp_anime.initial_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @temp_anime.state %>
</p>

<p>
  <strong>Day of week:</strong>
  <%= @temp_anime.day_of_week %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @temp_anime.image_path %>
</p>

<%= link_to 'Edit', edit_admin_temp_anime_path(@temp_anime) %> |
<%= link_to 'Back', admin_temp_animes_path %>
