<% content_for :h1_tag do %>
  まにあにめ
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
<% @animes.each do |anime| %>
    <div class="col-md-3 col-sm-4 col-xs-6 "style="">
      <a href="<%=anime_path(anime)%>">
        <div class="new-animes"><img class="img-responsive img-center" style="max-height:160px;"
          src="<%=get_list_img(anime.image_path)%>"/></div>
      </a>
    <div class="title"><%=anime.title%></div>
    </div>
<% end %>
  </div>
</div>


