<% content_for :title do %>
  <%= @anime.title %> 無料動画 
<% end %>
<% content_for :h1_tag do %>
 <%= @anime.title %>
<% end %>
<% content_for :header do %>
  <%= stylesheet_link_tag "anime", :media => "all" %>
  <%= stylesheet_link_tag "comment", :media => "all" %>
<% end %>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
      <p><img class="img-responsive img-center anime-img" src="<%= get_big_img(@anime.image_path)%>"></p>
    </div>
    <div>
      <button onclick="continue_view(<%= @anime.id %>);" value="継続視聴">継続視聴</button>
    </div>
    <div>  
      <strong><%= @anime.title %> ストーリー</strong><br />
      <%= @anime.discription %>
    </div>
  </div>
</div>
<div class="episodes">
  <% @episodes.each do |episode| %>
    <p>
    <a href="<%= episode_path(episode) %>"> 
      <%= episode.chapter %>話 <%= episode.title %>
    </a>
    </p>
  <% end %>
</div>
<hr>
<%= render partial: 'shared/comment', locals: { comments:@anime_comments, anime_title:@anime.title} %>
<hr>
<%= render partial: 'shared/comment_create', locals: { new_comment: @new_comment} %>
