<div class="row">
  <div style="width:80%;height:146px;overflow:auto; border:1px solid #CCCCCC; padding:0px; scrollbar-3dlight-color:#FFFFFF; margin:0px auto 10px auto; arign:center;">
    <% new_episodes.each do |episode| %>
      <div> 
        <%=episode.updated_at.strftime('%Y/%m/%d')%> 
        <a href="/episode/<%= episode.id %>">
          <%= episode.anime_title %> <%=episode.chapter%>話
        </a>
      </div>

    <% end %>
  </div>
</div>
