.comment-list{
padding-left:10%;
padding-right:10%;
}
.comment{
padding-bottom:10px;
}
.comment-form{
padding-left:5%;
padding-right:5%;
}
.comment-form textarea {
width:90%;
height:10em;
}
.comment-header{
padding: 11px 0px 2px 5px;
margin: 0px 3px;
border-bottom: 1px solid #333333;
font-size: 12px;
font-weight: bold;
color: #333333;
}
.comment-date{
text-align: right;
}
