// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.omission{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis; /* Opera9,10対応 */
}
.title{
  display: block;
  width: 80%;
  height: 56px;
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 3px 5px;
  position: absolute; 
  bottom: 10px;
  left: 10%;
  right: 10%;
  background-color: #101010;
  opacity: 0.9;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}
.img-center{
  margin: 0 auto;
}
.new-animes{
height:160px;
background-color:#CBCBCB;
margin-top: 10px;
margin-bottom: 10px;
}
.left_anime_style a{
font-size: 11px;
position: relative;
display: block;
padding: 2px 4px;
}
.nav-category{
display: block;
padding: 3px 15px;
font-size: 14px;
font-weight: bold;
line-height: 18px;
color: #999999;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-transform: uppercase;
}
.block{
padding:10px;
}
h1{
text-shadow: -1px 1px 0 rgba(255,255,255,1);
font-size:28px;
// text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
text-shadow:
1px 1px 1px rgba(0, 0, 0, 0.6),
-1px -1px 1px rgba(255, 255, 255, 0.5);
border-bottom: 1px solid rgba(0,0,0,0.1);

    font-weight: 400;
}
h1 a{
color: #3EA2F7;
font-weight:300;
}

