<%= form_for([:admin,@episode]) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :chapter %><br>
    <%= f.number_field :chapter %>
  </div>
  <div class="field">
    <%= f.label :anime_master_id %><br>
    <%= f.number_field :anime_master_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
