<p id="notice"><%= notice %></p>

<h1>Listing Episodes</h1>

<%= link_to '新規作成', new_admin_anime_master_path %>
<div><%= page_entries_info @episodes %></div>
<div><%= paginate @episodes %> </div>
<% @episodes.each do |episode| %>
  <div class="col-md-12">
    <% unless episode.anime_master.nil? %>
      <div class="col-md-12">アニメタイトル：<%= episode.anime_master.title %></div>
    <% end %>
    <div class="col-md-2">第<%= episode.chapter %>話</div>
    <div class="col-md-10">タイトル：<%= episode.title %></div>

    <div class="col-md-4"></div>
    <div class="col-md-8"></div>
    <div class="col-md-2"><%= link_to 'Show', admin_episodes_path %></div>
    <div class="col-md-2"><%= link_to 'Edit', edit_admin_episode_path(episode) %></div>
    <div class="col-md-2"><%= link_to 'Destroy', admin_episode_path(episode), method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>
<div style="clear:both"><%= paginate @episodes %> </div>
<%= link_to 'New Episode', new_admin_episode_path %>
