<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @episode.title %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @episode.chapter %>
</p>

<p>
  <strong>Anime:</strong>
  <%= @episode.anime_master_id %>
</p>

<%= link_to 'Edit', edit_admin_episode_path(@episode) %> |
<%= link_to 'Back', admin_episodes_path %>
