<div class="col-md-3 col-lg-3 hidden-xs pull-right">
  <div class="sidebar-nav">
    <div class="nav-canvas">
      <div class="nav-sm nav nav-stacked">
      </div>
      <ul class="nav nav-pills nav-stacked main-menu left_anime_style">
        <li class="nav-category">継続視聴</li>
        <div id="continue_views">
          <%= render :partial =>  "fav_animes/show"%>
        </div>
      </ul>
    </div>
  </div>
</div>
