<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title)+"|まにあにめ 無料動画" : "まにあにめ" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= yield :header %>


    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

      <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="<%= asset_path "logo20.png" %>" class="hidden-xs" />
          <span>まにあにめ</span></a>

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
          <li>
            <form class="navbar-search pull-left" action="/search" style="display:inline-flex">
              <input placeholder="Search" class="search-query form-control col-md-10" name="word" type="text">
              <input type="submit" class="btn-primary"style="height: 34px;" value="検索">
            </form>
          </li>
        </ul>

      </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
      <div class="row">

        <!-- left menu starts -->
          <%= cell :user_left, :show %>
        <!-- left menu ends -->

        <%= render :partial => "shared/user_right" %>

        <noscript>
          <div class="alert alert-block col-md-12">
            <h4 class="alert-heading">Warning!</h4>

            <p> <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
            を有効にしてください</p>
          </div>
        </noscript>
        

        <div id="content" class="col-lg-7 col-md-6 col-sm-9">
          <!-- content starts -->
          <%= cell :new_anime, :show %>
          <div>
            <ul class="breadcrumb">
              <li>
                <a href="/">Home</a>
              </li>
            </ul>
          </div>
          <%= bootstrap_flash %>
          <% if content_for?(:h1_tag) %>
            <h1> <%= yield(:h1_tag)%> </h1>
          <% end %>
          <%= yield %>

          <footer class="row">

          </footer>

        </div><!--/.fluid-container-->
      </div>
    </div>
  </body>
</html>
