<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Anime" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

      <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="<%= asset_path "logo20.png" %>" class="hidden-xs" />
          <span>Charisma</span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <!-- user dropdown ends -->

        <!-- theme selector starts -->
        <div class="btn-group pull-right theme-container animated tada">
          <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-tint"></i><span
               class="hidden-sm hidden-xs"> Change Theme / Skin</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="themes">
            <li><a data-value="classic" href="#"><i class="whitespace"></i> Classic</a></li>
            <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
            <li><a data-value="cyborg" href="#"><i class="whitespace"></i> Cyborg</a></li>
            <li><a data-value="simplex" href="#"><i class="whitespace"></i> Simplex</a></li>
            <li><a data-value="darkly" href="#"><i class="whitespace"></i> Darkly</a></li>
            <li><a data-value="lumen" href="#"><i class="whitespace"></i> Lumen</a></li>
            <li><a data-value="slate" href="#"><i class="whitespace"></i> Slate</a></li>
            <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
            <li><a data-value="united" href="#"><i class="whitespace"></i> United</a></li>
          </ul>
        </div>
        <!-- theme selector ends -->

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
          <li><a href="#"><i class="glyphicon glyphicon-globe"></i> Visit Site</a></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> Dropdown <span
                                                  class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li>
            <form class="navbar-search pull-left">
              <input placeholder="Search" class="search-query form-control col-md-10" name="query" type="text">
            </form>
          </li>
        </ul>

      </div>
    </div>
    <!-- topbar ends -->
    <div class="ch-container">
      <div class="row">

        <!-- left menu starts -->
        <%= yield :left_menu %>
        <!-- left menu ends -->

        <noscript>
          <div class="alert alert-block col-md-12">
            <h4 class="alert-heading">Warning!</h4>

            <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
            enabled to use this site.</p>
          </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
          <!-- content starts -->
          <div>
            <ul class="breadcrumb">
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Dashboard</a>
              </li>
            </ul>
          </div>
          <%= bootstrap_flash %>
          <%= yield %>

          <footer class="row">
            <p class="col-md-9 col-sm-9 col-xs-12 copyright">&copy; <a href="http://usman.it" target="_blank">Muhammad
              Usman</a> 2012 - 2015</p>

            <p class="col-md-3 col-sm-3 col-xs-12 powered-by">Powered by: <a
               href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
          </footer>

        </div><!--/.fluid-container-->


  </body>
</html>
